
    <p>{{bodyText}}</p>
    <h1>{{row | json}}</h1>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
<html>
  <meta
    http-equiv="Content-Security-Policy"
    content="upgrade-insecure-requests"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <body>
    <div style="display:inline;width:100%">
      <div style="display:inline;">
        <button (click)="addTable()" (click)="openModal('custom-modal-1')">Add Vehicle</button>
      </div>
    </div>
    <br />
    <table class="style" (onCellEditEnter)="editing($event)">
      <tr>
        <th style="max-width=60px">Company</th>
        <th>Vehicle Name</th>
        <th>Model Number</th>
        <th>Driver Name</th>
        <th>Vehicle Type</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of row; let i = index">
        <td>
          <input
            type="text"
            *ngIf="row[i].editmode === true"
            [(ngModel)]="row[i].id"
            />

          <label > {{ row[i].id }} </label>
        </td>

        <td>
          <input
            type="text"
            *ngIf="row[i].editmode === true"
            
            [(ngModel)]="row[i].name"
          />

          <label
            type="text"
            
            [(ngModel)]="row[i].name"
          >
            {{ row[i].name }}</label
          >
        </td>
        <td>

        <select (change)="populateCity($event.target.value)"
        *ngIf="row[i].editmode === true"
        [(ngModel)]="row[i].quantity" >
        <option value="">Select Model Number </option>
        <option *ngFor="let s of State; let i = index" [value]="State[i].id" >
         <span>{{s.name}}</span> </option>
      </select>
            
      
            <label >{{row[i].quantity}}</label>
        </td>
        <td>
          <input
            type="text"
            *ngIf="row[i].editmode === true"
            
            [(ngModel)]="row[i].price"
          />

          <label
            type="text">
            {{ row[i].price }}</label
          >
        </td>
        <td>
        <select
        *ngIf="item.editmode === true"
        [(ngModel)]="row[i].modelno">
        <option value="">Select Vehicle Type</option>
        <option *ngFor="let c of dropdownCity" [value]="c.name">{{c.name}}</option>
      </select>
         

          <label
            type="text"
            placeholder="Enter Vehicle Name"
            >
            {{ row[i].modelno }}</label
          >
        </td>
        <td>
          <button (click)="deleteRow(i)"><i class="fa fa-trash"></i></button>
          <button (click)="editRow(i, item)">Edit/Save</button>
        </td>
      </tr>
    </table>

  

    <jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>

<!--

  <label>Company </label>
  <input
          type="text"
          *ngIf="row[row.length-1].editmode === true"
          [(ngModel)]="row[row.length-1].id"
          />

        <label > {{ row[row.length-1].id }} </label>

      <label>Vehicle Name</label>

      <input
      type="text"
      *ngIf="row[row.length-1].editmode === true"
      
      [(ngModel)]="row[row.length-1].name"
    />

    <label
      type="text"
      
      [(ngModel)]="row[row.length-1].name"
    >
      {{ row[row.length-1].name }}</label
    >

      <label>Model Number</label>

      <select (change)="populateCity($event.target.value)"
      *ngIf="row[row.length-1].editmode === true"
      [(ngModel)]="row[row.length-1].quantity" >
      <option value="">Select Model Number </option>
      <option *ngFor="let s of State; let i = index" [value]="State[i].id" >
       <span>{{s.name}}</span> </option>
    </select>
          
    
          <label >{{row[row.length-1].quantity}}</label>
      <label>Driver Name</label>

      <input
      type="text"
      *ngIf="row[row.length-1].editmode === true"
      
      [(ngModel)]="row[row.length-1].price"
    />

    <label
      type="text">
      {{ row[row.length-1].price }}</label
    >
      <label>Vehicle Type</label>

      <select
      *ngIf="item.editmode === true"
      [(ngModel)]="row[row.length-1].modelno">
      <option value="">Select Vehicle Type</option>
      <option *ngFor="let c of dropdownCity" [value]="c.name">{{c.name}}</option>
    </select>
       

        <label
          type="text"
          placeholder="Enter Vehicle Name"
          >
          row[i].price
          {{ row[row.length-1].modelno }}</label
        >

        this.row[this.row.length-1].id===''||
        this.row[this.row.length-1].name===''||
        this.row[this.row.length-1].price===''||
        this.row[this.row.length-1].quantity===''||
        this.row[this.row.length-1].modelno===''||this.row[this.row.length-1].id===null||
        this.row[this.row.length-1].name===null||
        this.row[this.row.length-1].price===null||
        this.row[this.row.length-1].quantity===null||
        this.row[this.row.length-1].modelno===null){
   -->
   <label> Company </label>
   <input type="text" [(ngModel)]="row[row.length-1].id">
   <label for="">Vehicle Name</label>
   <input type="text" [(ngModel)]="row[row.length-1].name">
   <label for="">Model Number</label> 
   <select (change)="populateCity($event.target.value)"
   [(ngModel)]="row[row.length-1].quantity" >
   <option value="">Select Model Number </option>
   <option *ngFor="let s of State; let i = index" [value]="State[i].id" >
    <span>{{s.name}}</span> </option>
 </select> <br>
 <label > Driver Name </label>
 <input type="text" [(ngModel)]="row[row.length-1].price">
 <label for=""> Vehicle Type </label>
 <select
 [(ngModel)]="row[row.length-1].modelno">
 <option value="">Select Vehicle Type</option>
 <option *ngFor="let c of dropdownCity" [value]="c.name">{{c.name}}</option>
</select>

    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

    
  </body>
</html>
